* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Consolas, Arial, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #1a1a1d;
  height: 100vh;
}

.header {
  background: #000;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.content {
  margin-top: 30px;
  background: #ffff;
  padding: 50px 50px;
  min-height: 500px;
}

.player_btn {
  border: none;
  background: inherit;
}
.logo_container {
  width: 100%;
  text-align: center;
}
.logo {
  color: red;
  font-size: 40px;
}

.player {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  align-items: center;
}

.grey_container {
  background: grey;
  padding: 5px;
}

.black_container {
  margin: 0 auto;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
}

.nav_item {
  padding: 0 3px;
}

.user_img {
  background: white;
  border-radius: 50%;
}

.hits {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
}

.hits {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hit_card {
  text-align: center;
  height: 200px;
}

.hit_img {
  border-radius: 50%;
}

.hit_text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 10px;
}

.autor {
  color: #000;
  font-weight: 900;
  font-size: 18px;
}

.ganre {
  color: grey;
  font-size: 14px;
}

.popular_tracks {
  display: grid;
  grid-template-columns: repeat(3, 325px);
  grid-gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card_content {
  display: flex;
}

.card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.track_group {
  color: #000;
  font-size: 18px;
}

.track_name {
  color: #000;
  font-weight: 900;
  font-size: 18px;
}

.track_ganre {
  color: gray;
  font-size: 14px;
}

.title {
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  width: 70px;
  padding-top: 20px;
  border-bottom: 3px solid red;
  margin: 0 auto;
}

.main_title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 50px;
}

.footer {
  width: 100%;
  height: min-content;
  background: #111111;
}

.footer_nav {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer_nav_item {
  display: flex;
  flex-direction: column;
}

.footer_title {
  color: grey;
  font-weight: 900;
  margin-bottom: 10px;
}

.footer_line {
  color: grey;
  opacity: 50%;
}

.footer_info {
  padding: 30px 50px;
}

.language {
  margin-right: 10px;
  color: grey;
}

.selected {
  color: white;
}
.zone {
  margin-top: 20px;
  color: grey;
}

.search_filter {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.filter {
  margin-right: 20px;
}
.filter_selected::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid red;
  margin-top: 10px;
}

.search_field {
  width: 100%;
  display: flex;
  align-items: center;
  border: gray 1px solid;
  padding: 10px;
}

.clear_btn {
  background: white;
  border: none;
}

.search {
  border: none;
  width: 100%;
  outline: none;
}

.x_img {
  vertical-align: middle;
}

.s_img {
  vertical-align: middle;
}

.v_hr {
  border: none;
  border-left: 1px solid gray;
  height: 20px;
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.search_title {
  margin: 30px 0;
}

.artists {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
}

.artist_card {
  position: relative;
}

.artist_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 250px;
  height: 75px;
  padding: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

.listeners {
  color: silver;
  font-size: 14px;
}

.link_container {
  width: 1000px;
  text-align: right;
}

.more_link {
  color: #0d5b9e;
}

.tracks {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
  grid-row-gap: 10px;
}

.track {
  width: 1000px;
  display: grid;
  grid-template-columns: 50px 50px 50px 1fr 1fr 100px;
  align-items: center;
  grid-column-gap: 10px;
}

.song {
  font-size: 18px;
  font-weight: 900;
}

.duration {
  color: grey;
  text-align: right;
}

.hide {
  display: none;
}
